<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guo.lab">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".LabApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- android:configChanges="orientation|screenSize" -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".NormalService"
            android:enabled="true"
            android:exported="true"
            android:process=":normal" />
        <service
            android:name=".LockService"
            android:enabled="true"
            android:exported="true"
            android:process=":lock" />
        <service
            android:name=".AlarmService"
            android:enabled="true"
            android:exported="true"
            android:process=":alarm" />

        <receiver
            android:name=".LogReceiver"
            android:enabled="true"
            android:exported="true"
            android:process=":alarm" />
        <receiver
            android:name=".WakefulReceiver"
            android:enabled="true"
            android:exported="true"
            android:process=":wakeful">
            <intent-filter>
                <action android:name="wakeLock" />
            </intent-filter>
        </receiver>

        <service
            android:name=".WakefulService"
            android:enabled="true"
            android:exported="true"
            android:process=":wakeful" />
    </application>

</manifest>